

div.foto-card
  div.card-header
    a.username(href=`/perfil/${pub.usuario.nombre}`) #{pub.usuario.nombre}
    span.fecha= new Date(pub.createdAt).toLocaleDateString()
  
  div.card-img-container
    if pub.fotos && pub.fotos.length > 0
      each foto in pub.fotos
        div.foto-item(id=`foto-${foto.idfoto}`)
          if esPublico
            img(src=`data:image/jpeg;base64,${foto.archivo.toString('base64')}` alt=pub.titulo style="width:100%; display:block;")
          else
            a(onclick=`abrirComentarios(${foto.idfoto}, '${foto.archivo.toString('base64')}', ${foto.dataValues.promedio || 0}, ${foto.dataValues.cantidadVotos || 0}, ${foto.dataValues.yaVoto}, ${foto.dataValues.esMia})` style="cursor:pointer;")
              img(src=`data:image/jpeg;base64,${foto.archivo.toString('base64')}` alt=pub.titulo style="width:100%; display:block;")
            div.foto-stats
              span.rating-actual ⭐ #{foto.dataValues.promedio ? parseFloat(foto.dataValues.promedio).toFixed(1) : '0'}
              span (#{foto.dataValues.cantidadVotos || 0} votos)
    else
      img(src="/img/default.jpg" alt="Sin imagen disponible")
  
  div.card-body
    h3= pub.titulo
    h4= pub.descripcion
    if pub.etiqueta && pub.etiqueta.length > 0
      p.foto-etiquetas
        each tag in pub.etiqueta
          span(style="margin-right: 8px;") #{'#' + tag.nombre}

    //Solo visible si no es publico
    if !esPublico
      button.btn-toggle-coleccion(type="button" onclick="toggleColeccion(this)") 📁 Guardar
      form.form-colecciones.oculto(action="/colecciones/agregar" method="POST")
        input(type="hidden" name="idPublicacion" value=pub.idpublicacion)
        select.select-coleccion(name="idColeccion" onchange="checkNueva(this)")
          //- Verificamos que 'colecciones' exista antes de iterar
          if typeof colecciones !== 'undefined' && colecciones && colecciones.length > 0
            each col in colecciones
              option(value=col.idcoleccion)= col.nombre
          option(value="nueva") + Crear nueva...
        input.input-nueva(type="text" name="nuevoNombre" placeholder="Nombre nueva colección" style="display:none;")
        button.btn-guardar(type="submit") Confirmar
  
  if !esPublico && pub.idusuario_fk === idusuarioLoggeado
    div.card-actions-autor
      - const tieneReportes = pub.fotos.some(f => f.tieneReportes);
      
      if pub.enRevision || pub.bajada || tieneReportes
        span.badge-denunciada 🚫 Publicación denunciada — edición bloqueada
      else
        button.btn-editar(onclick=`editarPublicacion(${pub.idpublicacion}, '${pub.titulo}', '${pub.descripcion || ''}', '${pub.etiqueta ? pub.etiqueta.map(e => e.nombre).join(', ') : ''}')`) ✏️ Editar
        form(action=`/publicaciones/${pub.idpublicacion}/eliminar` method="POST" style="display:inline;")
          button.btn-eliminar(type="button" onclick=`abrirConfirmar('/publicaciones/${pub.idpublicacion}/eliminar')`) 🗑️ Eliminar